Repository antarctica/metadata-library: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, markdown, build

pytest:
  stage: ðŸ§ª test
  needs: []
  before_script:
  - - - apt-get update
      - uv --version
    - apt-get update
    - apt-get install -y libxml2-utils
    - uv sync --all-groups
  script:
  - $TASK_BIN ci-test
  coverage: '/Total coverage: \d+\.\d+/'
  artifacts:
    when: always
    reports:
      junit: test-results.xml
  ...

ruff:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - - apt-get update
      - uv --version
    - apt-get update
    - apt-get install -y libxml2-utils
    - uv sync --all-groups
  script:
  - $TASK_BIN lint
  - $TASK_BIN format --check

safety:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - - apt-get update
      - uv --version
    - apt-get update
    - apt-get install -y libxml2-utils
    - uv sync --all-groups
  script:
  - $TASK_BIN ci-safety

markdown:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - apt-get update
    - uv --version
  script:
  - $TASK_BIN markdown

build:
  stage: ðŸ— build
  needs: []
  before_script:
  - - apt-get update
    - uv --version
  script:
  - $TASK_BIN build
  artifacts:
    paths:
    - dist/
    expire_in: 1 month

Fixed typo in profile domain consistency elements
  src/bas_metadata_library/schemas/dist/magic_administration_encoding_v1.json
  src/bas_metadata_library/schemas/dist/magic_discovery_v2.json
  src/bas_metadata_library/schemas/src/magic_administration_encoding_v1.json
  src/bas_metadata_library/schemas/src/magic_discovery_v2.json
  tests/resources/configs/magic-administration-profile_encoding/all_v1.json
  tests/resources/configs/magic-administration-profile_encoding/minimal_v1.json
  tests/resources/configs/magic-discovery-profile/minimal_container_v2.json
  tests/resources/configs/magic-discovery-profile/minimal_resource_v2.json
  tests/resources/configs/magic_administration_profile.py
  tests/resources/configs/magic_discovery_profile.py
  tests/resources/records/magic-administration/all_v1-record.xml
  tests/resources/records/magic-administration/minimal_v1-record.xml
  tests/resources/records/magic-discovery/minimal_container_v2-record.xml
  tests/resources/records/magic-discovery/minimal_resource_v2-record.xml
Due: pytest, ruff, build

Preparing for prerelease
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Adding encryption and signing functionality
  pyproject.toml
  src/bas_metadata_library/standards/magic_administration/v1/utils.py
  tests/bas_metadata_library_tests/test_profile_magic_administration_v1.py
  tests/conftest.py
  tests/resources/keys/__init__.py
  uv.lock
Due: pytest, ruff, safety, build

Adding real admin metadata to test configs and records
  tests/resources/configs/magic-administration-profile_encoding/all_v1.json
  tests/resources/configs/magic-administration-profile_encoding/minimal_v1.json
  tests/resources/configs/magic_administration_profile.py
  tests/resources/records/magic-administration/all_v1-record.xml
  tests/resources/records/magic-administration/minimal_v1-record.xml
Due: pytest, ruff, build

Fix admin tests
  tests/bas_metadata_library_tests/test_profile_magic_administration_v1.py
Due: pytest, ruff, build

Prepare for prerelease
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Updating documentation
  README.md
  docs/dev.md
  docs/usage.md
Due: markdown

Updating documentation
  README.md
  docs/dev.md
Due: markdown

Small changes
  src/bas_metadata_library/standards/magic_administration/v1/utils.py
  tests/bas_metadata_library_tests/test_profile_magic_administration_v1.py
  tests/resources/keys/__init__.py
Due: pytest, ruff, build

Typing improvements in tests
  tests/bas_metadata_library_tests/test_profile_magic_discovery_v1.py
  tests/bas_metadata_library_tests/test_profile_magic_discovery_v2.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_0.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_2.py
  tests/bas_metadata_library_tests/test_standard_test_standard.py
  tests/conftest.py
Due: pytest, ruff, build

Updating dependencies
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Preparing for release
  CHANGELOG.md
  docs/usage.md
  pyproject.toml
  uv.lock
Due: pytest, safety, markdown, build

Fix bugs with non-JSON supplemental information
  CHANGELOG.md
  src/bas_metadata_library/standards/magic_administration/v1/utils.py
  tests/bas_metadata_library_tests/test_profile_magic_administration_v1.py
Due: pytest, ruff, markdown, build

Preparing for release
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, safety, markdown, build

Allow Lantern specific namespace in MAGIC discovery profile
  CHANGELOG.md
  src/bas_metadata_library/schemas/dist/magic_discovery_v2.json
  src/bas_metadata_library/schemas/src/magic_discovery_v2.json
  tests/resources/configs/magic-discovery-profile/minimal_resource_v2_alt.json
  tests/resources/configs/magic_discovery_profile.py
  tests/resources/records/magic-discovery/minimal_resource_v2_alt-record.xml
Due: pytest, ruff, markdown, build

Fixing missing ISO progress code options
  CHANGELOG.md
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
  src/bas_metadata_library/standards/iso_19115_common/common_elements.py
Due: pytest, ruff, markdown, build

Adding map layers local code list value
  CHANGELOG.md
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
  src/bas_metadata_library/standards/iso_19115_common/data_identification_elements.py
Due: pytest, ruff, markdown, build

Resolve "Update dependencies"
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .safety-policy.yml
  CHANGELOG.md
  docs/dev.md
  pyproject.toml
  uv.lock
Due: pytest, safety, markdown, build

Resolve "Upgrade minimum Python version to 3.11"
  .gitlab-ci.yml
  .python-version
  CHANGELOG.md
  docs/dev.md
  pyproject.toml
  uv.lock
Due: pytest, safety, markdown, build

Adding missing hash method for permissions
  CHANGELOG.md
  src/bas_metadata_library/standards/magic_administration/v1/__init__.py
  tests/bas_metadata_library_tests/test_profile_magic_administration_v1.py
Due: pytest, ruff, markdown, build

Improve UV audit use in CI
  .gitlab-ci.yml
Due: none

Resolve "0.18.1 release"
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/dev.md
  pyproject.toml
  uv.lock
Due: pytest, safety, markdown, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  markdown: any of: DEVELOPING.md, README.md, CHANGELOG.md
  build: any of: **/*.py, pyproject.toml, uv.lock
