Repository antarctica/metadata-library: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, build

pytest:
  stage: 🧪 test
  needs: []
  before_script:
  - - - python --version
      - python -m pip install --upgrade pip
      - python -m pip install pipx
      - python -m pipx install poetry==1.8.2
      - python -m pipx ensurepath
      - export PATH=/root/.local/bin:$PATH
      - poetry --version
  ...

ruff:
  stage: 📋 lint
  needs: []
  before_script:
  - - - python --version
      - python -m pip install --upgrade pip
      - python -m pip install pipx
      - python -m pipx install poetry==1.8.2
      - python -m pipx ensurepath
      - export PATH=/root/.local/bin:$PATH
      - poetry --version
  ...

safety:
  stage: 📋 lint
  needs: []
  before_script:
  - - - python --version
      - python -m pip install --upgrade pip
      - python -m pip install pipx
      - python -m pipx install poetry==1.8.2
      - python -m pipx ensurepath
      - export PATH=/root/.local/bin:$PATH
      - poetry --version
  ...

build:
  stage: 🏗 build
  needs: []
  before_script:
  - - python --version
    - python -m pip install --upgrade pip
    - python -m pip install pipx
    - python -m pipx install poetry==1.8.2
    - python -m pipx ensurepath
    - export PATH=/root/.local/bin:$PATH
    - poetry --version
  ...

Minor improvements
  .gitignore
  .python-version
  DEVELOPING.md
Due: none

Adding record config schema meta-validation
  .gitlab-ci.yml
  .python-version
  CHANGELOG.md
  DEVELOPING.md
  pyproject.toml
  src/bas_metadata_library/schemas/src/json_schema_draft_7.json
  tests/app.py
  tests/bas_metadata_library_tests/test_configuration_schemas.py
Due: pytest, ruff, build

Adding MAGIC Discovery v2 profile
  .gitignore
  .gitlab-ci.yml
  CHANGELOG.md
  DEVELOPING.md
  README.md
  src/bas_metadata_library/schemas/dist/magic_discovery_v2.json
  src/bas_metadata_library/schemas/src/magic_discovery_v2.json
  src/bas_metadata_library/standards/iso_19115_common/utils.py
  tests/app.py
  tests/bas_metadata_library_tests/test_profile_magic_discovery_v2.py
  tests/resources/configs/magic-discovery-profile/minimal_collection_v2.json
  tests/resources/configs/magic-discovery-profile/minimal_product_v2.json
  tests/resources/configs/magic_discovery_profile.py
  tests/resources/records/magic-discovery/minimal_collection_v2-record.xml
  tests/resources/records/magic-discovery/minimal_product_v2-record.xml
Due: pytest, ruff, build

Revising MAGIC Discovery profile v1
  CHANGELOG.md
  README.md
  src/bas_metadata_library/schemas/dist/magic_discovery_v1.json
  src/bas_metadata_library/schemas/src/magic_discovery_v1.json
  src/bas_metadata_library/standards/iso_19115_common/utils.py
  tests/bas_metadata_library_tests/test_profile_magic_discovery_v1.py
  tests/resources/configs/magic-discovery-profile/minimal_product_v1_alt.json
  tests/resources/configs/magic_discovery_profile.py
  tests/resources/records/magic-discovery/minimal_product_v1_alt-record.xml
Due: pytest, ruff, build

Using consistent indentation
  src/bas_metadata_library/schemas/dist/magic_discovery_v2.json
Due: none

Fixing discovery v2 schemas
  src/bas_metadata_library/schemas/dist/magic_discovery_v2.json
  src/bas_metadata_library/schemas/src/magic_discovery_v2.json
Due: none

Small fixes and improvements
  CHANGELOG.md
  DEVELOPING.md
  README.md
  pyproject.toml
Due: pytest, build

Adding draft prelease process
  DEVELOPING.md
Due: none

Preparing for prerelease
  pyproject.toml
  uv.lock
Due: pytest, build

Improving prerelease support
  .gitlab-ci.yml
  .gitlab/issue_templates/release.md
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, build

Refactor documentation
  README.md
  docs/dev.md
  docs/implementation.md
  docs/usage.md
Due: none

Removing un-needed release task
  pyproject.toml
  tasks/release.py
Due: pytest, ruff, build

Fixing definitions order in schemas
  src/bas_metadata_library/schemas/dist/magic_discovery_v1.json
  src/bas_metadata_library/schemas/dist/magic_discovery_v2.json
  src/bas_metadata_library/schemas/src/magic_discovery_v1.json
  src/bas_metadata_library/schemas/src/magic_discovery_v2.json
Due: none

Fix CI
  pyproject.toml
Due: pytest, build

Refactoring MAGIC discovery v2 test records
  tests/resources/configs/magic-discovery-profile/minimal_container_v2.json
  tests/resources/configs/magic-discovery-profile/minimal_resource_v2.json
  tests/resources/configs/magic_discovery_profile.py
  tests/resources/records/magic-discovery/minimal_container_v2-record.xml
  tests/resources/records/magic-discovery/minimal_resource_v2-record.xml
Due: pytest, ruff, build

Improving discovery profile tests
  tests/bas_metadata_library_tests/test_profile_magic_discovery_v2.py
Due: pytest, ruff, build

Adding additional progress code values
  src/bas_metadata_library/schemas/dist/magic_discovery_v2.json
  src/bas_metadata_library/schemas/src/magic_discovery_v2.json
Due: none

Adding test for conditional discovery schema
  tests/bas_metadata_library_tests/test_profile_magic_discovery_v2.py
Due: pytest, ruff, build

Improving discovery schema
  src/bas_metadata_library/schemas/dist/magic_discovery_v2.json
  src/bas_metadata_library/schemas/src/magic_discovery_v2.json
Due: none

Adding conditional schema for released date
  src/bas_metadata_library/schemas/dist/magic_discovery_v2.json
  src/bas_metadata_library/schemas/src/magic_discovery_v2.json
  tests/bas_metadata_library_tests/test_profile_magic_discovery_v2.py
Due: pytest, ruff, build

Discvery profile test tweaks
  tests/bas_metadata_library_tests/test_profile_magic_discovery_v2.py
Due: pytest, ruff, build

Prepairing for pre-release
  pyproject.toml
  uv.lock
Due: pytest, build

Adding page to descriptive series
  CHANGELOG.md
  src/bas_metadata_library/standards/iso_19115_common/common_elements.py
  tests/bas_metadata_library_tests/standard_iso_19115_common.py
  tests/resources/configs/iso-19115-0/complete_v4.json
  tests/resources/configs/iso-19115-2/complete_v4.json
  tests/resources/configs/iso19115_0_standard.py
  tests/resources/records/iso-19115-0/complete_v4-record.xml
  tests/resources/records/iso-19115-2/complete_v4-record.xml
Due: pytest, ruff, build

Adding additional local code list values for map products
  CHANGELOG.md
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
Due: none

Refactoring legal constraints into common
  src/bas_metadata_library/standards/iso_19115_common/common_elements.py
  src/bas_metadata_library/standards/iso_19115_common/data_identification_elements.py
  tests/bas_metadata_library_tests/standard_iso_19115_common.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_0.py
Due: pytest, ruff, build

Adding metadata constraints
  CHANGELOG.md
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
  src/bas_metadata_library/standards/iso_19115_common/base_elements.py
  src/bas_metadata_library/standards/iso_19115_common/root_element.py
  tests/bas_metadata_library_tests/standard_iso_19115_common.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_0.py
  tests/resources/configs/iso-19115-0/base-complex_v4.json
  tests/resources/configs/iso-19115-0/base-simple_v4.json
  tests/resources/configs/iso-19115-0/complete_v4.json
  tests/resources/configs/iso-19115-2/base-complex_v4.json
  tests/resources/configs/iso-19115-2/base-simple_v4.json
  tests/resources/configs/iso-19115-2/complete_v4.json
  tests/resources/configs/iso19115_0_standard.py
  tests/resources/records/iso-19115-0/base-complex_v4-record.xml
  tests/resources/records/iso-19115-0/base-simple_v4-record.xml
  tests/resources/records/iso-19115-0/complete_v4-record.xml
  tests/resources/records/iso-19115-2/base-complex_v4-record.xml
  tests/resources/records/iso-19115-2/base-simple_v4-record.xml
  tests/resources/records/iso-19115-2/complete_v4-record.xml
Due: pytest, ruff, build

Fixing protocol in test configs
  tests/resources/configs/iso-19115-0/base-complex_v4.json
  tests/resources/configs/iso-19115-0/base-simple_v4.json
  tests/resources/configs/iso-19115-0/complete_v4.json
  tests/resources/configs/iso-19115-2/base-complex_v4.json
  tests/resources/configs/iso-19115-2/base-simple_v4.json
  tests/resources/configs/iso-19115-2/complete_v4.json
  tests/resources/configs/iso19115_0_standard.py
  tests/resources/records/iso-19115-0/base-complex_v4-record.xml
  tests/resources/records/iso-19115-0/base-simple_v4-record.xml
  tests/resources/records/iso-19115-0/complete_v4-record.xml
  tests/resources/records/iso-19115-2/base-complex_v4-record.xml
  tests/resources/records/iso-19115-2/base-simple_v4-record.xml
  tests/resources/records/iso-19115-2/complete_v4-record.xml
Due: pytest, ruff, build

Updating licence dates
  LICENSE.md
  README.md
Due: none

Clarifying pre-release process
  docs/dev.md
Due: none

Refactoring MAGIC discovery schema
  src/bas_metadata_library/schemas/dist/magic_discovery_v2.json
  src/bas_metadata_library/schemas/src/magic_discovery_v2.json
  tests/app.py
Due: pytest, ruff, build

Adding additional allowed hierarchy types
  src/bas_metadata_library/schemas/dist/magic_discovery_v2.json
  src/bas_metadata_library/schemas/src/magic_discovery_v2.json
Due: none

Adding metadata constraints requirement to MAGIC discovery profile
  src/bas_metadata_library/schemas/dist/magic_discovery_v2.json
  src/bas_metadata_library/schemas/src/magic_discovery_v2.json
  tests/resources/configs/magic-discovery-profile/minimal_container_v2.json
  tests/resources/configs/magic-discovery-profile/minimal_resource_v2.json
  tests/resources/configs/magic_discovery_profile.py
  tests/resources/records/magic-discovery/minimal_container_v2-record.xml
  tests/resources/records/magic-discovery/minimal_resource_v2-record.xml
Due: pytest, ruff, build

Resolve "Add MAGIC Administration profile (v1)"
  .gitlab-ci.yml
  CHANGELOG.md
  pyproject.toml
  src/bas_metadata_library/schemas/dist/magic_administration_content_v1.json
  src/bas_metadata_library/schemas/dist/magic_administration_encoding_v1.json
  src/bas_metadata_library/schemas/src/magic_administration_content_v1.json
  src/bas_metadata_library/schemas/src/magic_administration_encoding_v1.json
  src/bas_metadata_library/standards/iso_19115_common/root_element.py
  src/bas_metadata_library/standards/iso_19115_common/utils.py
  src/bas_metadata_library/standards/magic_administration/__init__.py
  src/bas_metadata_library/standards/magic_administration/v1/__init__.py
  tests/app.py
  tests/bas_metadata_library_tests/test_profile_magic_administration_v1.py
  tests/conftest.py
  tests/resources/configs/magic-administration-profile-encoding/all_v1.json
  tests/resources/configs/magic-administration-profile-encoding/minimal_v1.json
  tests/resources/configs/magic-administration-profile_content/all_v1.json
  tests/resources/configs/magic-administration-profile_content/minimal_v1.json
  tests/resources/configs/magic-administration-profile_encoding/all_v1.json
  tests/resources/configs/magic-administration-profile_encoding/minimal_v1.json
  tests/resources/configs/magic_administration_profile.py
  tests/resources/records/magic-administration/all_v1-record.xml
  tests/resources/records/magic-administration/minimal_v1-record.xml
  uv.lock
Due: pytest, ruff, build

Minor schema changes
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/dist/magic_discovery_v2.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/magic_discovery_v2.json
Due: none

Fix CI/CD publishing
  .gitlab-ci.yml
Due: none

Removing old files
  tests/resources/configs/magic-administration-profile-encoding/all_v1.json
  tests/resources/configs/magic-administration-profile-encoding/minimal_v1.json
Due: none

Path conditions:
  pytest: any of: **/*.py, pyproject.toml, poetry.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, poetry.lock
  build: any of: **/*.py, pyproject.toml, poetry.lock
