Repository antarctica/metadata-library: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, build

Path conditions:
  pytest: any of: **/*.py, pyproject.toml, poetry.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, poetry.lock
  build: any of: **/*.py, pyproject.toml, poetry.lock

Adding ISBN identifier example
  CHANGELOG.md
  tests/resources/configs/iso-19115-1/complete_v3.json
  tests/resources/configs/iso-19115-2/complete_v3.json
  tests/resources/configs/iso19115_1_standard.py
  tests/resources/records/iso-19115-1/complete_v3-record.xml
  tests/resources/records/iso-19115-2/complete_v3-record.xml
Due: pytest, ruff, build

Fixing JSON indenting for ISO 19115 record configs
  CHANGELOG.md
  src/bas_metadata_library/standards/iso_19115_1/__init__.py
  src/bas_metadata_library/standards/iso_19115_2/__init__.py
  tests/resources/configs/iso-19115-1/base-complex_v2.json
  tests/resources/configs/iso-19115-1/base-simple_v2.json
  tests/resources/configs/iso-19115-1/complete_v2.json
  tests/resources/configs/iso-19115-1/minimal_v2.json
  tests/resources/configs/iso-19115-2/base-complex_v3.json
  tests/resources/configs/iso-19115-2/base-simple_v3.json
  tests/resources/configs/iso-19115-2/complete_v3.json
  tests/resources/configs/iso-19115-2/minimal_v3.json
Due: pytest, ruff, build

Include schemas as a static resource rather than Python module
  CHANGELOG.md
  pyproject.toml
  src/bas_metadata_library/schemas/__init__.py
  src/bas_metadata_library/schemas/dist/__init__.py
  src/bas_metadata_library/schemas/src/__init__.py
Due: pytest, ruff, build

Fixing missing timezones from test record configs
  CHANGELOG.md
  pyproject.toml
  src/bas_metadata_library/standards/iso_19115_1/__init__.py
  src/bas_metadata_library/standards/iso_19115_2/__init__.py
  tests/app.py
  tests/resources/configs/iso-19115-1/base-complex_v2.json
  tests/resources/configs/iso-19115-1/base-complex_v3.json
  tests/resources/configs/iso-19115-1/base-simple_v2.json
  tests/resources/configs/iso-19115-1/base-simple_v3.json
  tests/resources/configs/iso-19115-1/complete_v2.json
  tests/resources/configs/iso-19115-1/complete_v3.json
  tests/resources/configs/iso-19115-1/minimal_v3.json
  tests/resources/configs/iso-19115-2/base-complex_v2.json
  tests/resources/configs/iso-19115-2/base-complex_v3.json
  tests/resources/configs/iso-19115-2/base-simple_v2.json
  tests/resources/configs/iso-19115-2/base-simple_v3.json
  tests/resources/configs/iso-19115-2/complete_v2.json
  tests/resources/configs/iso-19115-2/complete_v3.json
  tests/resources/configs/iso-19115-2/minimal_v2.json
  tests/resources/configs/iso19115_1_standard.py
  tests/resources/records/iso-19115-1/base-complex_v2-record.xml
  tests/resources/records/iso-19115-1/base-complex_v3-record.xml
  tests/resources/records/iso-19115-1/base-simple_v2-record.xml
  tests/resources/records/iso-19115-1/base-simple_v3-record.xml
  tests/resources/records/iso-19115-1/complete_v2-record.xml
  tests/resources/records/iso-19115-1/complete_v3-record.xml
  tests/resources/records/iso-19115-2/base-complex_v2-record.xml
  tests/resources/records/iso-19115-2/base-complex_v3-record.xml
  tests/resources/records/iso-19115-2/base-simple_v2-record.xml
  tests/resources/records/iso-19115-2/base-simple_v3-record.xml
  tests/resources/records/iso-19115-2/complete_v2-record.xml
  tests/resources/records/iso-19115-2/complete_v3-record.xml
Due: pytest, ruff, build

Removing ISO 19115 schema v2
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  src/bas_metadata_library/schemas/dist/iso_19115_1_v2.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v2.json
  src/bas_metadata_library/schemas/src/iso_19115_1_v2.json
  src/bas_metadata_library/schemas/src/iso_19115_2_v2.json
  src/bas_metadata_library/standards/iso_19115_1/__init__.py
  src/bas_metadata_library/standards/iso_19115_2/__init__.py
  src/bas_metadata_library/standards/iso_19115_common/utils.py
  tests/app.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_1.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_2.py
  tests/resources/configs/iso-19115-1/base-complex_v2.json
  tests/resources/configs/iso-19115-1/base-simple_v2.json
  tests/resources/configs/iso-19115-1/complete_v2.json
  tests/resources/configs/iso-19115-1/minimal_v2.json
  tests/resources/configs/iso-19115-2/base-complex_v2.json
  tests/resources/configs/iso-19115-2/base-simple_v2.json
  tests/resources/configs/iso-19115-2/complete_v2.json
  tests/resources/configs/iso-19115-2/minimal_v2.json
  tests/resources/configs/iso19115_1_standard.py
  tests/resources/configs/iso19115_2_standard.py
  tests/resources/records/iso-19115-1/base-complex_v2-record.xml
  tests/resources/records/iso-19115-1/base-simple_v2-record.xml
  tests/resources/records/iso-19115-1/complete_v2-record.xml
  tests/resources/records/iso-19115-1/minimal_v2-record.xml
  tests/resources/records/iso-19115-2/base-complex_v2-record.xml
  tests/resources/records/iso-19115-2/base-simple_v2-record.xml
  tests/resources/records/iso-19115-2/complete_v2-record.xml
  tests/resources/records/iso-19115-2/minimal_v2-record.xml
Due: pytest, ruff, build

Adding schema retirement docs
  CHANGELOG.md
  DEVELOPING.md
Due: none

Tidying up
  .gitlab-ci.yml
  .gitlab/issue_templates/release.md
  CHANGELOG.md
  DEVELOPING.md
  README.md
Due: none

Prepare for release
  CHANGELOG.md
  pyproject.toml
Due: pytest, build

Adding V4 config schema for ISO 19115 standards
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  DEVELOPING.md
  README.md
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_2_v4.json
  src/bas_metadata_library/standards/iso_19115_0/__init__.py
  src/bas_metadata_library/standards/iso_19115_1/__init__.py
  src/bas_metadata_library/standards/iso_19115_common/utils.py
  tests/app.py
  tests/bas_metadata_library_tests/standard_iso_19115_common.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_0.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_1.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_2.py
  tests/resources/configs/iso-19115-0/base-complex_v4.json
  tests/resources/configs/iso-19115-0/base-simple_v4.json
  tests/resources/configs/iso-19115-0/complete_v4.json
  tests/resources/configs/iso-19115-0/minimal_v4.json
  tests/resources/configs/iso-19115-2/base-complex_v4.json
  tests/resources/configs/iso-19115-2/base-simple_v4.json
  tests/resources/configs/iso-19115-2/complete_v4.json
  tests/resources/configs/iso-19115-2/minimal_v4.json
  tests/resources/configs/iso19115_0_standard.py
  tests/resources/configs/iso19115_2_standard.py
  tests/resources/records/iso-19115-0/base-complex_v4-record.xml
  tests/resources/records/iso-19115-0/base-simple_v4-record.xml
  tests/resources/records/iso-19115-0/complete_v4-record.xml
  tests/resources/records/iso-19115-0/minimal_v4-record.xml
  tests/resources/records/iso-19115-2/base-complex_v4-record.xml
  tests/resources/records/iso-19115-2/base-simple_v4-record.xml
  tests/resources/records/iso-19115-2/complete_v4-record.xml
  tests/resources/records/iso-19115-2/minimal_v4-record.xml
Due: pytest, ruff, build

Changing allowed character set values
  CHANGELOG.md
  README.md
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
  src/bas_metadata_library/standards/iso_19115_common/common_elements.py
  src/bas_metadata_library/standards/iso_19115_common/utils.py
  tests/resources/configs/iso-19115-0/base-complex_v4.json
  tests/resources/configs/iso-19115-0/base-simple_v4.json
  tests/resources/configs/iso-19115-0/complete_v4.json
  tests/resources/configs/iso-19115-0/minimal_v4.json
  tests/resources/configs/iso-19115-2/base-complex_v4.json
  tests/resources/configs/iso-19115-2/base-simple_v4.json
  tests/resources/configs/iso-19115-2/complete_v4.json
  tests/resources/configs/iso-19115-2/minimal_v4.json
  tests/resources/configs/iso19115_0_standard.py
  tests/resources/records/iso-19115-0/base-complex_v4-record.xml
  tests/resources/records/iso-19115-0/base-simple_v4-record.xml
  tests/resources/records/iso-19115-0/complete_v4-record.xml
  tests/resources/records/iso-19115-0/minimal_v4-record.xml
  tests/resources/records/iso-19115-1/base-complex_v3-record.xml
  tests/resources/records/iso-19115-1/base-simple_v3-record.xml
  tests/resources/records/iso-19115-1/complete_v3-record.xml
  tests/resources/records/iso-19115-1/minimal_v3-record.xml
  tests/resources/records/iso-19115-2/base-complex_v3-record.xml
  tests/resources/records/iso-19115-2/base-complex_v4-record.xml
  tests/resources/records/iso-19115-2/base-simple_v3-record.xml
  tests/resources/records/iso-19115-2/base-simple_v4-record.xml
  tests/resources/records/iso-19115-2/complete_v3-record.xml
  tests/resources/records/iso-19115-2/complete_v4-record.xml
  tests/resources/records/iso-19115-2/minimal_v3-record.xml
  tests/resources/records/iso-19115-2/minimal_v4-record.xml
Due: pytest, ruff, build

Empty date values will trigger a config validation error
  CHANGELOG.md
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
  tests/bas_metadata_library_tests/test_standard_iso_19115_0.py
Due: pytest, ruff, build

Fixing whitespace
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  tests/bas_metadata_library_tests/test_standard_iso_19115_0.py
Due: pytest, ruff, build

Fixing typos
  README.md
Due: none

Adding series element
  CHANGELOG.md
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
  src/bas_metadata_library/standards/iso_19115_common/common_elements.py
  src/bas_metadata_library/standards/iso_19115_common/data_identification_elements.py
  tests/bas_metadata_library_tests/standard_iso_19115_common.py
  tests/resources/configs/iso-19115-0/complete_v4.json
  tests/resources/configs/iso-19115-2/complete_v4.json
  tests/resources/configs/iso19115_0_standard.py
  tests/resources/records/iso-19115-0/complete_v4-record.xml
  tests/resources/records/iso-19115-2/complete_v4-record.xml
Due: pytest, ruff, build

Fixing trailing new line in generated JSON schemas
  tests/app.py
Due: pytest, ruff, build

Adding ISBN as example identifier namespace
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
Due: none

Fixing missing type hints
  tests/bas_metadata_library_tests/test_standard_iec_pas_61174_0.py
  tests/bas_metadata_library_tests/test_standard_iec_pas_61174_1.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_0.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_1.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_2.py
  tests/bas_metadata_library_tests/test_standard_test_standard.py
Due: pytest, ruff, build

Streamlining ISO 19115-2 dist schemas
  CHANGELOG.md
  README.md
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  tests/app.py
Due: pytest, ruff, build

Adding process step and source elements
  CHANGELOG.md
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
  src/bas_metadata_library/standards/iso_19115_common/data_quality_elements.py
  src/bas_metadata_library/standards/iso_19115_common/utils.py
  tests/bas_metadata_library_tests/standard_iso_19115_common.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_0.py
  tests/resources/configs/iso-19115-0/complete_v4.json
  tests/resources/configs/iso-19115-2/complete_v4.json
  tests/resources/configs/iso19115_0_standard.py
  tests/resources/records/iso-19115-0/complete_v4-record.xml
  tests/resources/records/iso-19115-2/complete_v4-record.xml
Due: pytest, ruff, build

Using local ‘name’ property for descriptive series
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
  src/bas_metadata_library/standards/iso_19115_common/common_elements.py
  tests/resources/configs/iso-19115-0/complete_v4.json
  tests/resources/configs/iso-19115-2/complete_v4.json
  tests/resources/configs/iso19115_0_standard.py
Due: pytest, ruff, build

Tidying up
  .pre-commit-config.yaml
  CHANGELOG.md
  src/bas_metadata_library/standards/iso_19115_0/__init__.py
  src/bas_metadata_library/standards/iso_19115_2/__init__.py
Due: pytest, ruff, build

Preparing for release
  CHANGELOG.md
  README.md
  pyproject.toml
Due: pytest, build

Removing ISO 19115 v3 config
  .gitlab-ci.yml
  CHANGELOG.md
  DEVELOPING.md
  README.md
  src/bas_metadata_library/schemas/dist/iso_19115_1_v3.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v3.json
  src/bas_metadata_library/schemas/src/iso_19115_1_v3.json
  src/bas_metadata_library/schemas/src/iso_19115_2_v3.json
  src/bas_metadata_library/standards/iso_19115_0/__init__.py
  src/bas_metadata_library/standards/iso_19115_1/__init__.py
  src/bas_metadata_library/standards/iso_19115_2/__init__.py
  src/bas_metadata_library/standards/iso_19115_common/utils.py
  tests/app.py
  tests/bas_metadata_library_tests/standard_iso_19115_common.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_1.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_2.py
  tests/resources/configs/iso-19115-1/base-complex_v3.json
  tests/resources/configs/iso-19115-1/base-simple_v3.json
  tests/resources/configs/iso-19115-1/complete_v3.json
  tests/resources/configs/iso-19115-1/minimal_v3.json
  tests/resources/configs/iso-19115-2/base-complex_v3.json
  tests/resources/configs/iso-19115-2/base-simple_v3.json
  tests/resources/configs/iso-19115-2/complete_v3.json
  tests/resources/configs/iso-19115-2/minimal_v3.json
  tests/resources/configs/iso19115_1_standard.py
  tests/resources/configs/iso19115_2_standard.py
  tests/resources/records/iso-19115-1/base-complex_v3-record.xml
  tests/resources/records/iso-19115-1/base-simple_v3-record.xml
  tests/resources/records/iso-19115-1/complete_v3-record.xml
  tests/resources/records/iso-19115-1/minimal_v3-record.xml
  tests/resources/records/iso-19115-2/base-complex_v3-record.xml
  tests/resources/records/iso-19115-2/base-simple_v3-record.xml
  tests/resources/records/iso-19115-2/complete_v3-record.xml
  tests/resources/records/iso-19115-2/minimal_v3-record.xml
Due: pytest, ruff, build

Fixing handling of temporal extents without an end
  CHANGELOG.md
  src/bas_metadata_library/standards/iso_19115_common/data_identification_elements.py
  tests/resources/configs/iso-19115-0/base-complex_v4.json
  tests/resources/configs/iso-19115-2/base-complex_v4.json
  tests/resources/configs/iso19115_0_standard.py
  tests/resources/records/iso-19115-0/base-complex_v4-record.xml
  tests/resources/records/iso-19115-2/base-complex_v4-record.xml
Due: pytest, ruff, build

Fixing tests
  tests/bas_metadata_library_tests/test_standard_iso_19115_0.py
Due: pytest, ruff, build

Preparing for release
  CHANGELOG.md
  pyproject.toml
Due: pytest, build

Relax ISO schema to not require non-mandatory properties
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
  src/bas_metadata_library/standards/iso_19115_common/data_identification_elements.py
  src/bas_metadata_library/standards/iso_19115_common/root_element.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_0.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_2.py
  tests/resources/configs/iso-19115-0/minimal_v4.json
  tests/resources/configs/iso-19115-2/minimal_v4.json
  tests/resources/configs/iso19115_0_standard.py
  tests/resources/records/iso-19115-0/minimal_v4-record.xml
  tests/resources/records/iso-19115-2/minimal_v4-record.xml
Due: pytest, ruff, build

Fixing constraints combination schema rule
  CHANGELOG.md
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
Due: none

Adding custom association type code list value
  CHANGELOG.md
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
Due: none

Re-adding domain consistency measure
  CHANGELOG.md
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
  src/bas_metadata_library/standards/iso_19115_common/data_quality_elements.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_0.py
  tests/resources/configs/iso-19115-0/base-complex_v4.json
  tests/resources/configs/iso-19115-0/complete_v4.json
  tests/resources/configs/iso-19115-2/base-complex_v4.json
  tests/resources/configs/iso-19115-2/complete_v4.json
  tests/resources/configs/iso19115_0_standard.py
  tests/resources/records/iso-19115-0/base-complex_v4-record.xml
  tests/resources/records/iso-19115-0/complete_v4-record.xml
  tests/resources/records/iso-19115-2/base-complex_v4-record.xml
  tests/resources/records/iso-19115-2/complete_v4-record.xml
Due: pytest, ruff, build

Fixing custom association code list addition
  CHANGELOG.md
  src/bas_metadata_library/standards/iso_19115_common/data_identification_elements.py
  tests/resources/configs/iso-19115-0/complete_v4.json
  tests/resources/configs/iso-19115-2/complete_v4.json
  tests/resources/configs/iso19115_0_standard.py
  tests/resources/records/iso-19115-0/complete_v4-record.xml
  tests/resources/records/iso-19115-2/complete_v4-record.xml
Due: pytest, ruff, build

Addressing JSON Schema validator differences
  CHANGELOG.md
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
Due: none

Fix incorrect property name in ISO schema
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
Due: none

Fix incorrect property name in ISO schema
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
Due: none

Fix Python validation support
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
Due: none

Requiring minimal length for ISO required properties
  CHANGELOG.md
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
Due: none

Aligning function names
  CHANGELOG.md
  tests/app.py
Due: pytest, ruff, build

Aligning CI stage names
  .gitlab-ci.yml
Due: none
