Repository antarctica/metadata-library: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, build

Path conditions:
  pytest: any of: **/*.py, pyproject.toml, poetry.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, poetry.lock
  build: any of: **/*.py, pyproject.toml, poetry.lock

Fixing src/dist schemas being out of sync
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
Due: none

Adding JSON Schema for MAGIC discovery profile v1
  .gitlab-ci.yml
  CHANGELOG.md
  src/bas_metadata_library/schemas/dist/magic_discovery_v1.json
  src/bas_metadata_library/schemas/src/magic_discovery_v1.json
  tests/app.py
Due: pytest, ruff, build

Updating JSON and XML test record methods to support profiles
  tests/app.py
Due: pytest, ruff, build

Adding test configs & records for MAGIC discovery profile
  tests/app.py
  tests/resources/configs/magic-discovery-profile/minimal_collection_v1.json
  tests/resources/configs/magic-discovery-profile/minimal_product_v1.json
  tests/resources/configs/magic_discovery_profile.py
  tests/resources/records/magic-discovery/minimal_collection_v1-record.xml
  tests/resources/records/magic-discovery/minimal_product_v1-record.xml
Due: pytest, ruff, build

Adding tests
  tests/bas_metadata_library_tests/test_profile_magic_discovery_v1.py
  tests/conftest.py
Due: pytest, ruff, build

Minimal docs
  README.md
Due: none

Replace test fixture
  CHANGELOG.md
  tests/bas_metadata_library_tests/test_standard_iec_pas_61174_0.py
  tests/bas_metadata_library_tests/test_standard_iec_pas_61174_1.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_0.py
  tests/bas_metadata_library_tests/test_standard_iso_19115_2.py
  tests/bas_metadata_library_tests/test_standard_test_standard.py
  tests/conftest.py
Due: pytest, ruff, build

Fix MAGIC discovery schema errors
  src/bas_metadata_library/schemas/src/magic_discovery_v1.json
Due: none

Fix ISO schema errors
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
Due: none

Updating dist schemas
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/dist/magic_discovery_v1.json
Due: none

Removing unused code
  src/bas_metadata_library/standards/iso_19115_common/utils.py
Due: pytest, ruff, build

Refactoring ISO 19115 validation into a common function
  CHANGELOG.md
  src/bas_metadata_library/standards/iso_19115_0/__init__.py
  src/bas_metadata_library/standards/iso_19115_2/__init__.py
  src/bas_metadata_library/standards/iso_19115_common/utils.py
Due: pytest, ruff, build

Adding profile validation support
  src/bas_metadata_library/standards/iso_19115_common/utils.py
Due: pytest, ruff, build

Updating tests
  tests/resources/configs/iso-19115-0/complete_v4.json
  tests/resources/configs/iso-19115-2/complete_v4.json
  tests/resources/configs/iso19115_0_standard.py
  tests/resources/records/iso-19115-0/complete_v4-record.xml
  tests/resources/records/iso-19115-2/complete_v4-record.xml
Due: pytest, ruff, build

Updating tests
  tests/bas_metadata_library_tests/test_profile_magic_discovery_v1.py
Due: pytest, ruff, build

Adding documentation
  DEVELOPING.md
  README.md
Due: none

Preparing for release
  CHANGELOG.md
  pyproject.toml
Due: pytest, build

Fixing change log
  CHANGELOG.md
Due: none

Fix inconsistent uploads
  .gitlab-ci.yml
  CHANGELOG.md
  pyproject.toml
Due: pytest, build

Correcting magic profile
  CHANGELOG.md
  README.md
  pyproject.toml
  src/bas_metadata_library/schemas/dist/magic_discovery_v1.json
  src/bas_metadata_library/schemas/src/magic_discovery_v1.json
  src/bas_metadata_library/standards/iso_19115_common/utils.py
  tests/resources/configs/magic-discovery-profile/minimal_collection_v1.json
  tests/resources/configs/magic-discovery-profile/minimal_product_v1.json
  tests/resources/configs/magic_discovery_profile.py
  tests/resources/records/magic-discovery/minimal_collection_v1-record.xml
  tests/resources/records/magic-discovery/minimal_product_v1-record.xml
Due: pytest, ruff, build

Switching to metadata-resources bucket for hosting schemas
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  src/bas_metadata_library/schemas/dist/iec_pas_61174_0_v1.json
  src/bas_metadata_library/schemas/dist/iec_pas_61174_1_v1.json
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/dist/magic_discovery_v1.json
  src/bas_metadata_library/schemas/src/iec_pas_61174_0_v1.json
  src/bas_metadata_library/schemas/src/iec_pas_61174_1_v1.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/magic_discovery_v1.json
  src/bas_metadata_library/standards/iso_19115_common/utils.py
  tests/resources/configs/iec-pas-61174-0/complete_v1.json
  tests/resources/configs/iec-pas-61174-0/minimal_v1.json
  tests/resources/configs/iec-pas-61174-1/complete_v1.json
  tests/resources/configs/iec-pas-61174-1/minimal_v1.json
  tests/resources/configs/iec_pas_61174_0_standard.py
  tests/resources/configs/iec_pas_61174_1_standard.py
  tests/resources/configs/iso-19115-0/base-complex_v4.json
  tests/resources/configs/iso-19115-0/base-simple_v4.json
  tests/resources/configs/iso-19115-0/complete_v4.json
  tests/resources/configs/iso-19115-0/minimal_v4.json
  tests/resources/configs/iso-19115-2/base-complex_v4.json
  tests/resources/configs/iso-19115-2/base-simple_v4.json
  tests/resources/configs/iso-19115-2/complete_v4.json
  tests/resources/configs/iso-19115-2/minimal_v4.json
  tests/resources/configs/iso19115_0_standard.py
  tests/resources/configs/iso19115_2_standard.py
  tests/resources/configs/magic-discovery-profile/minimal_collection_v1.json
  tests/resources/configs/magic-discovery-profile/minimal_product_v1.json
  tests/resources/configs/magic_discovery_profile.py
  tests/resources/records/magic-discovery/minimal_collection_v1-record.xml
  tests/resources/records/magic-discovery/minimal_product_v1-record.xml
Due: pytest, ruff, build

Updating Terraform configuration
  provisioning/terraform/.terraform.lock.hcl
  provisioning/terraform/00-terraform.tf
  provisioning/terraform/02-providers.tf
  provisioning/terraform/50-iam.tf
  provisioning/terraform/70-resources/iam/policies/inline/metadata-standards-production-bucket.json
  provisioning/terraform/70-resources/iam/policies/inline/metadata-standards-staging-bucket.json
  provisioning/terraform/docker-compose.yml
  provisioning/terraform/terraform.tf
Due: none

Fixing MAGIC Discovery Profile href
  CHANGELOG.md
  pyproject.toml
  src/bas_metadata_library/schemas/dist/magic_discovery_v1.json
  src/bas_metadata_library/schemas/src/magic_discovery_v1.json
  src/bas_metadata_library/standards/iso_19115_common/utils.py
  tests/resources/configs/magic-discovery-profile/minimal_collection_v1.json
  tests/resources/configs/magic-discovery-profile/minimal_product_v1.json
  tests/resources/configs/magic_discovery_profile.py
  tests/resources/records/magic-discovery/minimal_collection_v1-record.xml
  tests/resources/records/magic-discovery/minimal_product_v1-record.xml
Due: pytest, ruff, build

Fixing transfer option size schema definition
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
Due: none

Adding local code list values for paper maps
  CHANGELOG.md
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
Due: none

Adding missing page element within descriptive series
  src/bas_metadata_library/schemas/dist/iso_19115_0_v4.json
  src/bas_metadata_library/schemas/dist/iso_19115_2_v4.json
  src/bas_metadata_library/schemas/src/iso_19115_0_v4.json
Due: none

Preparing for release
  CHANGELOG.md
  LICENSE.md
  README.md
Due: none

Fix version
  pyproject.toml
Due: pytest, build

Removing outdated edge case test
  tests/bas_metadata_library_tests/test_standard_iso_19115_0.py
Due: pytest, ruff, build

Allowing paper map products in MAGIC Discovery profile
  CHANGELOG.md
  pyproject.toml
  src/bas_metadata_library/schemas/dist/magic_discovery_v1.json
  src/bas_metadata_library/schemas/src/magic_discovery_v1.json
Due: pytest, build

Switching from Poetry to UV
  .gitlab-ci.yml
  CHANGELOG.md
  DEVELOPING.md
  poetry.lock
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Tidying up
  .gitlab-ci.yml
  pyproject.toml
Due: pytest, build

Adding task runner
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  tasks/release.py
  uv.lock
Due: pytest, ruff, build

Fixing ruff rule and formatting changes
  CHANGELOG.md
  pyproject.toml
  src/bas_metadata_library/__init__.py
  src/bas_metadata_library/standards/iec_pas_61174_0_v1/__init__.py
  src/bas_metadata_library/standards/iec_pas_61174_1_v1/__init__.py
  src/bas_metadata_library/standards/iec_pas_61174_common/utils.py
  src/bas_metadata_library/standards/iso_19115_0/__init__.py
  src/bas_metadata_library/standards/iso_19115_2/__init__.py
  src/bas_metadata_library/standards/iso_19115_common/common_elements.py
  src/bas_metadata_library/standards/iso_19115_common/data_identification_elements.py
  src/bas_metadata_library/standards/iso_19115_common/utils.py
  tests/app.py
  tests/conftest.py
  tests/resources/configs/test_metadata_standard.py
  tests/standards/test_standard/__init__.py
Due: pytest, ruff, build

Running Flask CLI through task runner
  CHANGELOG.md
  pyproject.toml
Due: pytest, build

Rewriting documentation
  CHANGELOG.md
  DEVELOPING.md
  README.md
Due: none

Adding markdown linting
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
Due: pytest, build

CI fix
  .gitlab-ci.yml
Due: none

Removing RTZ support
  .gitlab-ci.yml
  CHANGELOG.md
  DEVELOPING.md
  README.md
  src/bas_metadata_library/schemas/dist/iec_pas_61174_0_v1.json
  src/bas_metadata_library/schemas/dist/iec_pas_61174_1_v1.json
  src/bas_metadata_library/schemas/src/iec_pas_61174_0_v1.json
  src/bas_metadata_library/schemas/src/iec_pas_61174_1_v1.json
  src/bas_metadata_library/schemas/xsd/rtz/rtz_1_2.xsd
  src/bas_metadata_library/standards/iec_pas_61174_0_v1/__init__.py
  src/bas_metadata_library/standards/iec_pas_61174_1_v1/__init__.py
  src/bas_metadata_library/standards/iec_pas_61174_common/__init__.py
  src/bas_metadata_library/standards/iec_pas_61174_common/utils.py
  tests/app.py
  tests/bas_metadata_library_tests/test_standard_iec_pas_61174_0.py
  tests/bas_metadata_library_tests/test_standard_iec_pas_61174_1.py
  tests/resources/configs/iec-pas-61174-0/complete_v1.json
  tests/resources/configs/iec-pas-61174-0/minimal_v1.json
  tests/resources/configs/iec-pas-61174-1/complete_v1.json
  tests/resources/configs/iec-pas-61174-1/minimal_v1.json
  tests/resources/configs/iec_pas_61174_0_standard.py
  tests/resources/configs/iec_pas_61174_1_standard.py
  tests/resources/records/iec-pas-61174-0/complete_v1-record.xml
  tests/resources/records/iec-pas-61174-0/minimal-v1-record.rtzp
  tests/resources/records/iec-pas-61174-0/minimal_v1-record.xml
  tests/resources/records/iec-pas-61174-1/complete_v1-record.xml
  tests/resources/records/iec-pas-61174-1/minimal-v1-record.rtzp
  tests/resources/records/iec-pas-61174-1/minimal_v1-record.xml
Due: pytest, ruff, build
